*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
 
body {
    background: cadetblue;
}

.startBtn {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.startBtn button{
    font-size: 30px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    
}

.infoBox .infoOption{
    height: 100px;
    width: 540px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);    
    
}

.infoBox .boxTitle{
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.infoBox .info{
     font-size: 18px;
}

.infoBox .buttons{
    margin-top: 310px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-radius: 15px;
}

.infoBox .buttons button{
    margin: 0px 5px;
    height: 25px;
    width: 450px;
    border-radius: 3px; 
    cursor: pointer;
}

.infoBox .buttons #restart {
    margin-top: 70px;
}

.scores {
    margin: 20px;
    transform: translate(-250%, 9%);   
}
